.avatar-test {
	border-radius: 30px;
	height: 50px;
	width: 50px;
	border: 3px solid #ffffff;
}
.menu-toggle-btn {
	position: fixed;
	top: 20px;
	right: 5px;
	background: none;
	border: 0px;
	@include for-phone-only {
		svg {
			width: 35px;
		}
	}
	@include for-tablet-portrait-up {
		svg {
			width: 35px;
		}
	}
}

.outline-none {
	outline: none !important;
}

.b-bottom-active {
	display: block;
	height: 2px;
	width: 20px;
	margin-top: 10px;
	border-radius: 2px;
}

.disabled {
	opacity: 0.65;
	user-select: none !important;
	cursor: not-allowed !important;
}

.pointer-events-none {
	pointer-events: none !important;
}

.disabled:hover {
	cursor: not-allowed !important;
}

.disabled-full {
	user-select: none !important;
	pointer-events: none !important;
	cursor: not-allowed !important;
}

.stepper {
	border-radius: 50%;
	color: #ff6f3d;
	border: 1.75px solid #ff6f3d;
}

.siteLogo {
	top: 20px;
	left: 35px;
	@include media-breakpoint-down(md) {
		left: 15px;
		width: 195px !important;
		display: flex;
	}
}

.active svg {
	fill: #80896a;
}

.mobile-menu-link {
	border-bottom: 1px solid #d0d1d2;
	color: var(--main-theme-black-default);
	font-size: 14px;
	margin: 0;
	padding: 20px 10px;
}

.active-menu-btn {
	@include ease-in-out;
	@include justify-content-center;
	@include flex;
	text-align: center;
	width: 100px;
	padding: 10px;
	border-radius: 24px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.flex-customXl-row {
	@include for-big-desktop-up {
		@include flex-row;
	}
}
.overflow-y-hidden {
	overflow-y: hidden;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.card-grid-col-6 {
	-webkit-box-flex: 0 0 16.6666667%;
	-ms-flex: 0 0 16.6666667%;
	flex: 0 0 16.6666667%;
	max-width: 16.6666667%;
	@include flex;
	@include flex-column;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	@include media-breakpoint-down(md) {
		-webkit-box-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.card-grid-col-2 {
	-webkit-box-flex: 0 0 44.9999%;
	-ms-flex: 0 0 44.9999%;
	flex: 0 0 44.9999%;
	max-width: 44.9999%;
	@include flex;
	@include flex-column;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	@include for-big-desktop-up {
		-webkit-box-flex: 0 0 29.9999%;
		-ms-flex: 0 0 29.9999%;
		flex: 0 0 29.9999%;
		max-width: 29.9999%;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include media-breakpoint-down(md) {
		-webkit-box-flex: 0 0 41.9999%;
		-ms-flex: 0 0 41.9999%;
		flex: 0 0 41.9999%;
		max-width: 41.9999%;
	}
	@include media-breakpoint-down(sm) {
		-webkit-box-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.card-grid-col-4 {
	-webkit-box-flex: 0 0 20.9999%;
	-ms-flex: 0 0 20.9999%;
	flex: 0 0 20.9999%;
	max-width: 20.9999%;
	@include flex;
	@include flex-column;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	@include media-breakpoint-down(lg) {
		-webkit-box-flex: 0 0 26.9999%;
		-ms-flex: 0 0 26.9999%;
		flex: 0 0 26.9999%;
		max-width: 26.9999%;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include media-breakpoint-down(sm) {
		-webkit-box-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.card-grid-lines {
	-webkit-box-flex: 0 0 96.9999%;
	-ms-flex: 0 0 96.9999%;
	flex: 0 0 96.9999%;
	max-width: 96.9999%;
	@include flex;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	@include media-breakpoint-down(sm) {
		-webkit-box-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.full-page-controls {
	position: fixed;
	z-index: 1000;
	top: calc(50% - 100px);
	@include flex;
	@include flex-column;
	@include ease-in-out;
	right: 15px;
	padding: 10px;
	border-radius: 24px;
	background-color: #f8f9fa !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;

	.prev,
	.next {
		color: #3e503c !important;
		@include ease-in-out;
		& svg {
			path: #3e503c !important;
		}
	}

	.disabled.slide-btns {
		border: 1.75px solid #ff6f3d !important;
	}

	.disabled {
		.inside-dot {
			background-color: #ff6f3d !important;
		}
	}

	.slide-btns {
		border-radius: 50%;
		width: 25px;
		height: 25px;
		content: '' !important;
		background: none;
		@include flex;
		@include flex-column;
		@include justify-content-center;
		align-items: center;
		border: 0;
		border-color: #3e503c !important;
		padding: 0 !important;
		margin-top: 5px;
		margin-bottom: 5px;
		@include ease-in-out;
		outline: none;

		&.prev.disabled {
			display: none;
			@include ease-in-out;
		}

		&.next.disabled {
			display: none;
			@include ease-in-out;
		}

		.inside-dot {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #3e503c;
			-webkit-transition: all 0.1s linear;
			-o-transition: all 0.1s linear;
			transition: all 0.1s linear;
		}
	}
}

.menu-link a {
	color: var(--main-theme-black-default);
	font-weight: 500;
}

.center-title {
	@include center-absolute-top-15;

	h1 {
		@include ease-in-out;
	}
}

.center-buttons {
	@include center-absolute-bottom-5;
}

.bg-orange {
	background-color: #ff6f3d !important;
	border: 1.75px solid #ff6f3d !important;
}

.bg-success {
	background-color: #818a6a !important;
	border: 1.75px solid #818a6a !important;
}

.detail-btn {
	max-height: 40px;
	min-block-size: 40px;
	min-inline-size: 120px;
	max-inline-size: 400px;
	width: 100% !important;
	max-width: 220px;
	@include brochureCta;
}

.order-btn {
	max-height: 40px;
	min-block-size: 40px;
	min-inline-size: 120px;
	max-inline-size: 400px;
	width: 100% !important;
	max-width: 180px;
	@include brochureCta;
}

.home-btn {
	max-height: 40px;
	min-block-size: 40px;
	min-inline-size: 200px;
	max-inline-size: 400px;
	width: 255px;
	@include brochureCta;
	@include media-breakpoint-down(lg) {
		width: 100%;
	}
}

.switch-grid-wrapper {
	@include flex;
	@include flex-row;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	min-width: 100px;
	border: 1px solid transparent;
	transition: border 0.3s ease;
}

.switch-grid-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	flex-grow: 1;
	text-align: center;
	height: 100%;
	padding: 0;
	position: relative;
	cursor: pointer;
	background-color: none;
	padding: 5px;
}

.switch-grid-btn:not(:last-child):after {
	content: '';
	display: block;
	position: absolute;
	right: -8px;
	top: 9px;
	bottom: 9px;
	width: 2px;
	background-color: #a2a3a5;
}

input.filter-input:focus {
	border: 3px solid #ced4da !important;
	outline: none;
	border-radius: 24px !important;
	box-shadow: 0 0 0 2.5px #ced4da;
	background-color: var(--main-theme-gray-1) !important;
}

textarea.filter-input:focus {
	border: 1px solid #ced4da !important;
	outline: none;
	border-radius: 24px !important;
	box-shadow: 0 0 0 2.5px #ced4da;
	background-color: var(--main-theme-gray-1) !important;
}

.filter-input {
	height: 40px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	background-color: #ffffff;
	color: #171a20;
	padding: 10px 20px;
	border-radius: 20px;
	border: 1px solid transparent;
	transition: border 0.25s cubic-bezier(0.5, 0.25, 0.25, 0.75);
}

.filter-input:focus {
	border: 0;
}

.filter-select {
	position: relative;
	display: inline-block;
}
.filter-select,
.filter-select-input {
	width: 100%;
}

.filter-select-input {
	height: 40px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	background-color: #ffffff;
	color: #171a20;
	padding: 10px 20px;
	padding-right: 48px;
	border-radius: 20px;
	border: 1px solid transparent;
	transition: border 0.25s cubic-bezier(0.5, 0.25, 0.25, 0.75);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-arrow {
	right: 15px;
	position: absolute;
	top: 5px;
}

@keyframes updown {
	0% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(-5px);
	}
}

.center-scroll-arrow {
	animation: updown 2s ease infinite;
	@include center-absolute-bottom-5px;
}
