.abstract-stew {
	position: fixed;
	left: 0;
	right: 0;
	top: -250px;
	bottom: 0;
	z-index: 0;
	transform: skewY(-12deg);
	background: var(--main-theme-gray-2);
}

.first-line {
	left: calc(50% - 540px);
}
.second-line {
	left: calc(50% - 270px);
}
.third-line {
	left: 50%;
}
.fourth-line {
	left: calc(50% + 269px);
}
.fifth-line {
	left: calc(50% + 540px);
}
.fifth-line,
.first-line {
	background: var(--main-theme-gray-4);
	background-image: none;
}
.verticalLine {
	position: absolute;
	z-index: 999;
	top: -100vh;
	bottom: -100vh;
	background: var(--main-theme-gray-4);
	background-image: none;
	right: auto;
	width: 1px;
	background-size: 1px 8px;
	background-image: linear-gradient(
		180deg,
		var(--main-theme-gray-4) 49%,
		rgba(236, 238, 244, 0) 50%
	);
}

.bg-primary-gradient {
	background: linear-gradient(
		rgb(48, 100, 142),
		rgb(82, 128, 162),
		rgb(112, 158, 182),
		rgb(142, 189, 203),
		rgb(172, 221, 224)
	);
}

.client-card {
	width: 335px;
}
